<h1><%= @chatroom.name %></h1>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @messages.each do |message| %>
    <%= render partial: 'messages/message', locals: { message: message } %>
  <% end %>
</div>

<%= form_with model: Message.new, url: messages_path, local: true do |form| %>
  <%= form.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= form.text_field :content, placeholder: "Type your message..." %>
  <%= form.submit "Send" %>
<% end %>

